<div id="footerContainer">
            <div id="footer">
                <ul>
                    <li>
                        <a href="/about/">关于我们</a>
                    </li>
                    <li>
                        <a href="">协议与隐私</a>
                    </li>
                    <li>
                        <a href="">友情链接</a>
                    </li>
                    <li>
                        <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备16066061</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a>© 2017 深语人工智能 DeepNLP</a>
                    </li>
                </ul>
            </div>

</div>