<div id="banner">
            <div id="bannerContainer">

                <div id="navigation">
                    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                    <ul>
                        <div class="navIEPadder">
                            <li>
                                <a href="/index/">主页</a>
                            </li>
                            <li>
                                <a href="/blog/">技术博客</a>
                            </li>
                            <li>
                                <a href="/downloads/list">下载</a>
                            </li>
                            <li>
                                <a href="/api/v1.0/pipeline/?lang=zh&annotators=segment,pos,ner&text=我爱吃北京烤鸭" target="_blank">API接口</a>
                            </li>
                            <li>
                                <a href="http://deepnlp.readthedocs.io/" target="_blank">文档</a>
                            </li>
                            <li>
                                <a href="/about/">关于</a>
                            </li>
                        </div>

                        <div class="navAccount">
                            {% if current_user.is_authenticated %}
                                <li>
                                <a href="">{{ current_user.username }}</a>
                                </li>
                                <li>
                                <a href="{{ url_for('auth.logout') }}">登出</a>
                            </li>
                            {% else %}

                            <li>
                                <a href="{{ url_for('auth.register') }}">注册</a>
                            </li>
                            <li>
                                <a href="{{ url_for('auth.login') }}">登陆</a>
                            </li>
                            {% endif %}

                        </div>

                    </ul>

                </div>
            </div>
</div>