
{% extends "layout.html" %}
{% block content %}
<div class="container" ng-app="myApp" ng-controller="formCtrl">
    <br>
  <div class="row" >
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">待摘要文本</h3>
            <p id="article_id" style="display: none;"></p>
        </div>
        <div class="panel-body">
          <form role="form" novalidate>
     正文：<br/><br/><textarea readonly id="text_unsum" ng-model="text" class="form-control" rows="24"></textarea>
<br/>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">摘要</h3>
        </div>
        <div class="panel-body">
         摘要：<br/><br/>
          <textarea id="text_sum" ng-model="summarization" class="form-control" rows="20"></textarea>
            <br><button type="button" id="uploadSummary" class="form-control btn btn-success" ng-click="uploadSummary()">提交摘要</button>
        </div>
      </div>
    </div>
  </div>

</div>

    <div id='success_modal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id='return_message_title'class="modal-title">成功</h4>
      </div>
      <div id='return_message' class="modal-body">
        <p>上传成功！</p>
      </div>
      <div class="modal-footer">
<button id="cancel_button" type="button" class="btn btn-default" data-dismiss="modal">确定</button>
        <a id="confirm_button" href="{{ url_for('summary.upload') }}" type="button" class="btn btn-primary">确定</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope, $http, $sce) {
    token = $.cookie('token')
    $http.get('/api/v1/article/get', {headers: {'Authorization': token}})
        .success(function(data){
            if(data['code']==3){
                $('#return_message_title').text('提示')
                $('#return_message').text('暂时没有待摘要文章，请稍后再试！')
                $('#confirm_button').toggle()
                $('#success_modal').modal()
            }else{
                $scope.text = data.data['text'];
            $('#article_id').text(data.data['id'])
            }

        });
	$scope.uploadSummary = function () {
        var mydata = new Object();
        mydata.id = $('#article_id').text()
        mydata.text = $scope.text
        mydata.summarization = $('#text_sum').val()

		$http.post('/api/v1/article/upload', mydata, {headers: {'Authorization': token}})
        .success(function(data){
            $('#cancel_button').toggle()
            $('#success_modal').modal()
        });
	}
});
</script>
{% endblock %}

